.input-group {
    /* background-color: red; */
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.input-group input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: var(--sub-color-d2);
    padding-left: 20px;
    font-size: 12pt;
    background-color: var(--main-color-l2);
    border: 1px solid var(--main-color-l1);
}

.input-group i {
    position: absolute;
    left: 100%;
    transform: translate(-100%, 0%);
    margin-left: -20px;
    color: var(--sub-color-d2);
}