body {
    margin: 0;
    padding: 0;
}


:root {}

.header {
    background-color: red;
    min-height: 20vh;
    padding: 0 10vw;
}

.header .header-top {
    background-color: green;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-top .header-items-left,
.header .header-top .header-items-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;
    background-color: yellow;
}

/* To remove */
.header .header-top .header-items-right {

    background-color: magenta;
}

.header .header-top .header-item {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    flex-direction: row;
    column-gap: 10px;
    text-decoration: none;
    color: black;
    font-size: 10pt;
    height: 5vh;
}


.header-middle-items {
    background-color: orange;
    min-height: 5vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
}

.header-middle-items .header-middle-items-left,
.header-middle-items .header-middle-items-right,
.header-middle-items .header-middle-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: purple;
    height: 5vw;
    overflow: hidden;
}



.header-middle-items .header-middle-items-center {
    width: 40%;
    background-color: blue;
}

.header-middle-items .header-middle-item-img {
    width: 100%;
    height: 50px;
}

.header-middle-items-right .header-middle-item-button {
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
    height: 50%;
    font-size:14pt;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.header-middle-items-center .input-group {
    font-size: 16pt;
}

.header-middle-items-center .input-group input {
    height: 50px;
}

.header-bottom {
    background-color: pink;
    height: 5vh;
}

.header-bottom-items {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.header-bottom .header-bottom-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 10;
    background-color: lightblue;
    column-gap: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.body {
    background-color: gray;
    height: 100%;
    /* width: 100%; */
    padding:0 10vw;
}

.body .section.first .content {
    background-color: red;
    height: 40vh;
    width: 100%;
}

.body .section.first .gallery {
    width: 100%;
}

.grid.flex-row {
    display: flex;
    flex-direction: column;
}

.grid.flex-colum {
    display: flex;
    flex-direction: row;
}

.grid.flex-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkgoldenrod;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    row-gap: 40px;
}

.grid .grid-item.one-of-100 {
    width: 100%;
}
.grid .grid-item.two-of-100 {
    width: calc(100% / 2);
}
.grid .grid-item.three-of-100 {
    width: calc(100% / 3);
    
}
.grid .grid-item.four-of-100 {
    width: calc(100% / 4);
}
.grid .grid-item.five-of-100 {
    width: calc(100% / 5);
}
.grid .grid-item.six-of-100 {
    width: calc(100% / 6);
}
.grid .grid-item.seven-of-100 {
    width: calc(100% / 7);
}
.grid .grid-item.eight-of-100 {
    width: calc(100% / 8);
}
.grid .grid-item.nine-of-100 {
    width: calc(100% / 9);
}
.grid .grid-item.ten-of-100 {
    width: calc(100% / 10);
}
.grid .grid-item.eleven-of-100 {
    width: calc(100% / 11);
}
.grid .grid-item.twelve-of-100 {
    width: calc(100% / 12);
    background-color: magenta;
}

.section.third .card {
    padding: 20px;
    height: 400px;
}

.section.fourth {
    background-color: beige;
    padding-bottom: 30px;
}

.section.fourth .title {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: magenta; */
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    column-gap: 10px;
    position: relative;
}

.section.fourth .title::before {
    background-color: firebrick;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,200%);
    height: 5px;
    width: 50px;
}
.section.fourth .item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    aspect-ratio : 1 / 1;
    border-radius: 50%;
}

.section.fourth .item img {
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 50%;
}

.section.fourth .item .span {
    z-index: 99;
    font-weight: bold;
    color: rgb(66, 66, 66);
    transform: translateY(100%);
    text-shadow: 0px 0px 3px rgba(37, 37, 37, 0.13);
}

.section.fifth .grid.flex-wrap {
    row-gap: 7.5px;
    column-gap: 5px;
}

.footer-top .footer-links .links-col-left,
.footer-top .footer-links .links-col-middle,
.footer-top .footer-links .links-col-right {
    background-color: aqua;
    width: calc(100% / 3);
    padding-top: 10px;
    padding: 30px 90px;
}

.footer-top .footer-links .links-col-left .grid,
.footer-top .footer-links .links-col-middle .grid,
.footer-top .footer-links .links-col-right .grid{ 
    row-gap: 10px;
}

.footer-top .grid i {
    margin-right: 10px;
}